<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href = "styles/style.css"/>
	<title>Traveling Generations</title>
</head>
<body>
	<h1> National Park Reviews for People Who Don't Plan:</h1>

	<div th:each = "review: ${reviews}">
		<h3 th:text = "${review.reviewCategory}"></h3>
		<h2 th:text = "${review.itemTitle}"></h2>
		<img1 th:src = "@{${review.imgUrl}}"/>
		<p th:text = "${review.reviewContent}"></p>
		<h3 th:text = "${review.synopsis}"></h3>
		<a href="http:localhost:8080/show-reviews">Back to home</a>
	</div>
</body>
</html>